/* @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap'); */

/* .Main {
  margin-left: 5vw;
  width: 95vw;
  background-color: #f7f8fa;
  height: 100vh;
  padding-top: 5vh;
  padding-left: 5vw;

} */

.App {
  display: flex;
}
